.u-section-1 {background-image: linear-gradient(0deg, rgba(0,64,93,0.65), rgba(0,64,93,0.65)), url("images/casemap1.png"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 625px}
.u-section-1 .u-shape-1 {height: 453px; width: 100px; margin: 86px 95px 0 auto}
.u-section-1 .u-shape-2 {height: 453px; width: 100px; margin: -453px auto 0 95px}
.u-section-1 .u-text-1 {font-size: 4.5rem; margin: -394px 216px 0 244px}
.u-section-1 .u-text-2 {font-size: 1.25rem; margin: -37px 180px 0 145px}
.u-section-1 .u-btn-1 {font-weight: 700; background-image: none; margin: 26px auto 60px 417px; padding: 9px 102px 11px 101px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 753px}
.u-section-1 .u-shape-1 {margin-top: 150px; margin-right: 0}
.u-section-1 .u-shape-2 {margin-left: 0}
.u-section-1 .u-text-1 {margin-right: 116px; margin-left: 144px}
.u-section-1 .u-text-2 {margin-right: 80px; margin-left: 45px}
.u-section-1 .u-btn-1 {margin-left: 217px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 501px}
.u-section-1 .u-shape-1 {margin-top: 60px}
.u-section-1 .u-text-1 {margin-right: 6px; margin-left: 34px}
.u-section-1 .u-text-2 {margin-right: 0; margin-left: 0}
.u-section-1 .u-btn-1 {margin-left: 0} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 363px}
.u-section-1 .u-text-1 {margin-left: 29px; margin-right: 29px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 374px}
.u-section-1 .u-text-1 {font-size: 3rem; margin-left: 19px; margin-right: 19px} }